{% extends 'main/base.html' %}
{% block title %}
О компании
{% endblock %}

{% block content %}
<div class="position-relative overflow-hidden p-7 p-md-8 m-md-5 text-center bg-light">
    <div class="col-md-20 p-lg-1 mx-auto my-1">
        <h1 class="display-4 fw-normal">Компания Apple</h1>
        <p class="lead fw-normal">Apple Inc. — американская корпорация, основанная 1 апреля 1976, в Калифорнии Стивом Джобсом, Рональдом Уэйном и Стивом Возняком. Компания Apple Inc. разрабатывает, производит и продаёт персональные компьютеры, мобильные коммуникационные и медиа устройства, портативные цифровые музыкальные проигрыватели, а также сопутствующее программное обеспечение, услуги, периферийные устройства, сетевые решения и цифровой контент и приложения сторонних производителей по всему миру. Компания продает свою продукцию по всему миру через интернет-магазины, розничные магазины, службы прямых продаж, сторонних оптовиков и реселлеров с добавленной стоимостью. Штаб-квартира находится в Купертино, штат Калифорния..</p>
    </div>
    <div class="product-device shadow-sm d-none d-md-block"></div>
    <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
</div>
{% endblock %}

